<h3 class=" ps-3 py-3 mb-5 heading"><span class="x">X</span>pense<span class="combine-head">Tracker</span></h3>


<div class="container text-center">
  <!-- <hr> -->
  
  <form  #taskForm="ngForm" action="" class=" text-center">
  
    <input type="number" name="exp-amount" id="exp-amount" class="p-2 my-2" placeholder="Expense amount" title="Enter how much was spent." required ngModel>
  <br>
    <input type="text" name="exp-name" id="exp-name" placeholder="Add Expense name here" class="p-2 my-2" required ngModel>
  
    <br>
    <!-- <input type="text" name="description" id="description" placeholder="Add description" class="p-2 w-50"> -->
  
    
  
    <!-- <textarea name="description" id="description" placeholder="Add description" class="p-2 m-2" rows="6" title='Enter the name or description of the expense (e.g., "Groceries").'></textarea> -->
  
    <br>
    <button class="btn addbtn w-50 mt-2 b-2" (click)="onSubmit(taskForm)" [disabled] ="taskForm.invalid">Add</button>
  
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="tableContent">
        <tr *ngFor="let t of expArray; index as i">
          <!-- <td><input type="text" value="{{t.expName}}"[disabled]="!t.isEditable"  id="editExp" [(ngModel)]="t.expName" ></td> -->
          <td>{{t.now}}</td>
           <td>{{t.expName}}</td>
          <td>{{t.expAmount}}</td>
          <td><button class="btn btn-outline-primary" (click)="onEdit(i)">
            <i class="fa fa-edit"></i>
          </button></td>
          <td><button class="btn btn-outline-danger" (click)="onDelete(i)">
            <i class="fa fa-trash-o"></i>
          </button></td>
        </tr>
       
      
      </tbody>
    </table>
  
  </form>
  </div>